* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    background-color: rgb(249, 225, 208);
    height: 100vh;
    overflow-y: hidden;
}

#background-img {
    width: 100%;
    height: 100%;
}

nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
}

#content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    width: 70%;
    height: 100%;
    background-color: rgba(254, 254, 252, 0.863);
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    width: 80%;
    height: 50vh;
}

#logo {
    width: 20%;
    height: auto;
}

#form-inputs {
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

#form-inputs input {
    height: 7vh;
    width: 100%;
}

input::placeholder {
    color: black;
    font-weight: 700;
}

#form-buttons {
    margin-top: 2%;
    display: flex;
    justify-content: center;
    gap: 2rem;
}

#form-buttons button, #form-buttons input {
    height: 7vh;
    width: 30vw;
    border-radius: 10px;
    background-color: rgb(255, 64, 0);
    font-weight: 900;
    font-size: 80%;
}

#form-buttons button:hover, #form-buttons input:hover {
    transition: 0.8s;
    transform: translateY(-1rem);
    background-color: burlywood;
    cursor: pointer;
}

#email, #senha {
    border: none;
    border-bottom: 2px solid black;
    border-radius: 3px;
    background-color: rgba(151, 92, 16, 0);
}

.error {
    color: red;
    display: none;
}

#form-buttons input:disabled {
    background-color: grey;
    cursor: not-allowed;
}


@media screen and (min-width: 425px){
    #background-img {
        width: 100%;
        height: 100%;
    }
    
    nav {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        width: 100%;
        height: 100%;
    }
    
    #content-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        width: 70%;
        height: 100%;
        background-color: rgba(254, 254, 252, 0.863);
    }
    
    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 3rem;
        width: 80%;
        height: 50vh;
    }

    #form-inputs {
        width: 90%;
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
    
    #form-inputs input {
        height: 7vh;
        width: 100%;
    }
    
    input::placeholder {
        color: black;
        font-weight: 700;
    }
    
    #form-buttons {
        margin-top: 2%;
        display: flex;
        justify-content: center;
        gap: 2rem;
    }
    
    #form-buttons button, #form-buttons input {
        height: 7vh;
        width: 30vw;
        border-radius: 10px;
        background-color: rgb(255, 64, 0);
        font-weight: 900;
        font-size: 80%;
    }
    
    #form-buttons button:hover, #form-buttons input:hover {
        transition: 0.8s;
        transform: translateY(-1rem);
        background-color: burlywood;
        cursor: pointer;
    }
    
    #email, #senha {
        border: none;
        border-bottom: 2px solid black;
        border-radius: 3px;
        background-color: rgba(151, 92, 16, 0);
    }
    
    .error {
        color: red;
        display: none;
    }
    
    #form-buttons input:disabled {
        background-color: grey;
        cursor: not-allowed;
    }
    
}