@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Noto Serif", serif;

}

body{
    width: 100%;
    height: 100%;
    background: rgb(230,212,43);
    background: linear-gradient(90deg, rgba(230,212,43,0.6896008403361344) 0%, rgba(235,198,62,0.6251750700280112) 85%, rgba(224,161,12,0.1657913165266106) 100%);
}

#home{
    display: flex;
    justify-content: center;
    height: 20%;
}

.header-nav{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 65%;
}

#home-text{
    margin-bottom: 17rem;
    margin-left: auto;
    margin-right: auto;
    color: #ffff;
}

.video-content {
    display: flex;
    justify-content: space-evenly;
    position: absolute;
    text-align: center;
    z-index: 1; 
    margin-top: 2rem;
    font-family: arial;
    width: 100%;
    height: 7%;
}

#logo{
    width: 30%;
    height: auto;

}


/* Estilos para o dropdown */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    background-color: #333;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 15%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.dropdown-content ul li {
    padding: 12px 16px;
    text-align: left;
}

.dropdown-content ul li a {
    color: black;
    text-decoration: none;
    display: block;
}

.dropdown-content ul li a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.ul-header{
    list-style: none;
    background-color: rgba(255, 221, 0, 0.353);
    width: 100%;
    font-size: 90%;
}

/* navegação completa */

.scroll-container{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    overflow-y: auto;
}



video{
    width: 100%;
    height: auto;
}



img{
    width: 60%;
    height: auto;
}

#titulo-por-topico{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #040404;
    border-bottom: solid;
    width: 93%;
    font-size: 100%;
    font-size: 1.2rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
}


/* Conheça */

.conheca-img-text-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    margin-right: auto;
    margin-left: auto;
}

/* Áreas */

.area-li{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    gap: 2rem;
    margin-right: auto;
    margin-left: auto;
    list-style: none;
}

.area-li li{
    border: solid;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}


/* Docentes */

.docentes-img-text-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    gap: 2rem;
    margin-right: auto;
    margin-left: auto;
    font-weight: 900;
    margin-bottom: 3rem;
    
}

.docentes-img-text-container img{
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid black;
    border-radius: 10px;
    height: 35vh;
}

.docentes-img-text-container p{
    width: 80%;
}


/* Contato */

.contato{
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    font-size: 95%;
}


.contato-fieldset{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}

.contato-fieldset form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
    
}

.botao-radius{
    display: flex;
    gap: 0.15rem;
}

#form-submit{
    background-color: aliceblue;
    border: none;
    border-radius: 2px;
    font-weight: 700;
    width: 20%;
    margin-bottom: 1rem;

}


/* Footer */

footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

footer ul{
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 90%;
}

footer li{
    list-style: none;
}